
body{
    margin: 0;
    padding: 0;
    font-size: monospace;
    background-image: url(../src/img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #818181;
}

.tamaño{
    align-items: center;
    align-self: center;
    align-content: center;
    top: 150px;
    left: 500px;
}
.fondo{
    background-color: rgb(185, 183, 183);
    height: 85px;
    width: 1000px;
    color: black;
    border-radius: 20px;
    
    
}
h5 strong{
    font-family: Gabriola;
    font-size: 35px;
    color: #3C7CA4;

}
a{
    text-decoration: none;
}
p{
    
    font-family: Gabriola;
    font-size: 25px;
}
.boton{
    align-self: auto;
    align-content: center;
    text-align:center ;
    display: flex;
    justify-content: center;
    z-index: 3;
    position: absolute; 
    left: 1180px; 
    top: 8px;
    background-color: rgb(146, 145, 145);
    border-radius: 10px;
    
    
}