body{
    margin: 0;
    padding: 0;
    font-size: monospace;
    background-image: url(../src/img/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #818181;
}
.logo{
    width: 300px;
    height: 70px;
    font-size: 90px;
    margin: 150px auto 50px auto;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: black;
    font-family: Gabriola;
}
a{
    text-decoration: none;
}